target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.mvn
.mvn/*
mvnw
mvnw.cmd
.DS_Store
**.DS_Store
datatalk-webserver.iml
datatalk-webserver.iws
*.jpg
*.png

### STS ###
.apt_generateds
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

logs
log
checkstyleidea.tmp

tag.sh
/hs_err_pid12792.log
